.App {
  text-align: center;
}


.App-header {
  background-image:url('./images/letterkenny-logo.jpg');
  background-position: top;
  background-size: center;
  background-repeat: no-repeat;
  height: 65vh;
  padding: 20px;
  color: white;
  margin-bottom:0;
}

.App-title {
  font-size: 1.5em;
  margin: 4em auto 0;
}

.opener {
  background-color: #FFE4BC;
}

.opener p {
  margin-top: 0;
}

a.link.safe{
  margin-top: 5em;
}

.link{
  margin: 3em;
  padding:1em;
  border-radius: 5%;
  text-decoration: none;
}

.safe {
  background:#800A06;
  color: #FFE4BC;
  margin-left: 5em;
}

.notsafe{
  background: black;
  color:white;
  margin-left: 5em;
}

p{
  margin: 1em;
  padding: 1em;
}

.btn{
  margin:1em;
  background-color:#800A06;
}

#hide{
  display: hidden;
}

.container{
  border: 1.5px solid black;
  background-color: white;
  height: auto;
}
